.header {
    display:flex;
    justify-content:center;
    align-items: center;
    height:60px;
    background-color: brown;
    position: sticky;
    top: 0;
  }
  
  .header a{
      color:white;
      font-size: 16px;
  }
  .header a:first-child {
      border-right: 1px solid white;
  }
  .products {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   margin:10px 10px 0px 10px;
  }
  .product {
    margin: 10px;
    padding: 20px;
    background-color: white;
  }
  .products img {
    width: 100%;
    max-height: 130px;
    object-fit: contain;
  }
  .cart-items {margin-left: 20px;}
  .cart-items img {
    width: 100%;
  }

  .addTo-cart{
      color: brown;
      cursor: pointer;
  }

  .add-icon {
    background: brown;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    padding: 3px;
  }

  .cart-items table {
    border-spacing: 0px;
    background-color:white;
  }
  .cart-items table thead {
    background-color: #e2dfdf;
  }
  .cart-items table thead tr {
    height:60px;
  }
  .cart-items table thead th {
    color:#6d6868;
  }
  .cart-items table td {
    border-bottom: 1px solid silver;
    padding:15px;
  }

  .btn-secondary {
    margin-top: 2rem;
    padding: 13px;
    border: 1px solid brown;
    color: brown;
    width: 200px;
  }
  .checkout {
    background:white;
    padding: 20px;
    margin:0px 20px;
    height: 300px;
  }
  .btn-primary {
    width: 170px;
    background-color: brown;
    color: white;
    padding:12px;
    border: unset;
  }
  .space-between{
    justify-content:space-between;
  }
  .checkout-btn {
    margin-top: 5rem;
  }
   .shopping-btn {
     cursor: pointer;
    font-size: 16px;
    font-weight: bold;}
  .font-small{
    font-size: 12px;
  }